/* -----------------------------------------------------------------------------

  WRAPPER OBJECT
  
----------------------------------------------------------------------------- */
.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

/* -----------------------------------------------------------------------------

  MENU OBJECT
  
----------------------------------------------------------------------------- */


.c-menu {
  position: fixed;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin-top: 30px;
}

.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow:hidden;
  z-index: 999999;
}

@media all and (min-width: 768px) {
  .c-menu--push-left {
    width: 300px;
  }
}


.c-menu--push-left .c-menu__item {
  display: block;
  text-align: center;
}

.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--push-left .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #242424;
  font-weight: 700;
  font-size: 20px;
}

.c-menu__link:hover {
  color: #e0aac9;
}

.c-menu--push-left .c-menu__close {
  display: block;
}

.c-menu--push-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media all and (min-width: 768px) {
  .c-menu--push-left {
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

.c-menu--push-left.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.o-wrapper.has-push-left {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media all and (min-width: 768px) {
  .o-wrapper.has-push-left {
    -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
  }
}

body.has-active-menu {
  overflow: hidden;
}

.c-menu__close {
  text-align: center;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.c-menu__close:focus {
  outline: none;
}

/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 100vh;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

@media (min-width: 768px) {
  .c-mask {
    left: 300px;
  }
}
